<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Server</title>
    <style>
      body {
        background-color: antiquewhite;
        margin: 0;
      }
      h1 {
        color: gold;
        text-align: center;
      }
      p {
        margin: 30px;
        color: blueviolet;
        padding: 10px;
      }
      nav {
        background-color: black;
        margin: 0 20px 20px 0;
      }
      nav a {
        color: white;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/services">services</a>
      <a href="/contact">contact</a>
    </nav>
    <h1>Welcome to our contact</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quas
      magnam ipsum eligendi asperiores eveniet eos beatae praesentium laudantium
      blanditiis nostrum sit quae repudiandae similique. Pariatur fuga vitae
      quaerat officia?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dicta
      recusandae minus unde animi iste eius veniam commodi. Magnam consequatur
      omnis eos laboriosam dolores. Quam accusantium voluptas deleniti error
      consectetur.
    </p>
  </body>
</html>
